body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C9B598;
    background-size: cover;
}
.wrapper{
    width: 400px;
    background: transparent;
    border-radius: 12px;
}
.wrapper h1{
    font-size: 38px;
    text-align: center;
    color: white;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px o;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}
.input-box inpu::placeholder{
    color:#fff
}
.forgot{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    margin: -15px 0 15px
}
.input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 16px;
}
.register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
a{
    color: #fff;
    text-decoration: none;
}

